* {
  //general rules , doesn't really affects performances
  box-sizing: border-box;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

html,
button,
input,
select,
textarea {
  color: #000;
}

html {
  font-size: pixelBase();
}

body {
  font-family: Helvetica, Helvetica Neue, Arial;
  line-height: 1.6;
}
