$pixelBase: 14;

@function pixelBase() {
  @return $pixelBase + px;
}

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin fs($size) {
  $unit: unit($size);
  $val: parseInt($size);
  @if $unit == "px" {
    font-size: $size;
  }
  @else if $unit == "rem" {
    font-size: $val * $pixelBase + px;
    font-size: $size;
  }
  @else if $unit == "" {
    font-size: $val * $pixelBase + px;
    font-size: $size + rem;
  }
  @else {
    font-size: $size;
  }
}
